.contact-me {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    list-style: none;
}

    .contact {
        list-style: none;
        font-family: "Open Sans";
        font-size: 14px;
    }
